/* Protomolecule font */
@font-face {
  font-family: 'Protomolecule';
  src: url('https://raw.githubusercontent.com/ThinkDualBrain/Protomolecule/master/Protomolecule.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/ThinkDualBrain/Protomolecule/master/Protomolecule.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Arwes Theme Colors */
  --arwes-color-primary: hsl(180deg 75% 50%);
  --arwes-color-primary-dim: hsl(180deg 75% 30%);
  --arwes-color-primary-dark: hsl(180deg 75% 10%);
  --arwes-color-primary-glow: hsl(180deg 75% 50% / 50%);
  --arwes-color-secondary: hsl(60deg 75% 50%);
  --arwes-color-secondary-dim: hsl(60deg 75% 30%);
  --arwes-color-success: hsl(150deg 75% 50%);
  --arwes-color-error: hsl(350deg 75% 50%);
  --arwes-color-bg: hsl(180deg 20% 4%);
  --arwes-color-bg-elevated: hsl(180deg 20% 8%);
  --arwes-color-text: hsl(180deg 20% 90%);
  --arwes-color-text-dim: hsl(180deg 20% 60%);
  --arwes-frames-line-color: var(--arwes-color-primary);
  --arwes-frames-bg-color: hsl(180deg 75% 50% / 5%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--arwes-color-bg);
  color: var(--arwes-color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html,
body,
#root,
#root>div {
  height: 100%
}